div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#diff{
    background-color: #81b29a;
}

#static #diff{
    position: static;
    top: 100px;
}

#relative #diff{
    position: relative;
    top: 100px;
    left: 100px;
    
}

#absolute #diff{
    position: absolute;
    top: 50px;
    left: 50px;
}
#fixed #diff{
    position: fixed;
    top: 0;
    left: 0;
}